(
  KeyboardKeys: {
    W: "UP",
    D: "RIGHT",
    A: "LEFT",
    S: "DOWN",
    Space: "JUMP",
    Escape: "MENU",
    F2: "EDIT_ZOOM_OUT",
    F1: "EDIT_ZOOM_IN",
    F3: "EDIT_TOGGLE_BORDER",
  },
  MouseButtons: {
    Left: "SELECT",
    Right: "RETURN",
  },
  MouseMove: {
    XNegative: "DASH_LEFT",
    XPositive: "DASH_RIGHT",
    YPositive: "DOWN",
    YNegative: "UP",
  },
  GamepadAxis: {
    1: {
      LeftStickXPositive: "RIGHT",
      LeftStickXNegative: "LEFT",
      RightStickYNegative: "DOWN",
      RightStickYPositive: "UP",
    }
  },
  GamepadButtons: {
    1: {
      South: "JUMP"
    }
  }
)
