(
  KeyboardKeys: {
    W: "UP",
    D: "RIGHT",
    A: "LEFT",
    S: "DOWN",
    Space: "JUMP",
    Escape: "MENU",
    F: "EDIT_ZOOM_OUT",
    R: "EDIT_ZOOM_IN"
  },
  MouseButtons: {
    Left: "SELECT",
    Right: "RETURN",
  }
)
